<webmvc:content:page_title>About Us</webmvc:content:page_title>

<webmvc:content:page_content>
    <h2>About</h2>
    <p>
        <h3>Name: {$name}</h3>

        <form action="/home/about" method="post">
            <input type="text" name="name" />
            <input type="submit" />
        </from>
    </p>
</webmvc:content:page_content>