<webmvc:content:page_title>{$PageTitle}</webmvc:content:page_title>

<webmvc:content:page_content>
    <h2>Hello world</h2>
    <h3>{$PageContent}</h3>
    <p>
      <br />
      {%
        for(var i = 10;i<30;++i)
        {
           %}<span style="font-size: {%=i%}px;">{%= i %}</span>&nbsp;{%
        }
      %}
      <br />
      <div style='padding: 10px; font-weight: bold;'>{%=parseInt("21")*parseInt('2')%}</div>
    </p>
</webmvc:content:page_content>